<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32920338432-vd51ij378adpiigrvsngicppf0pu9tge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32920338432-vd51ij378adpiigrvsngicppf0pu9tge</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>32920338432-qvfg26r6fp1c3c8mnunpmg9etaltfqkv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGptH4mlLRDcE_YJHv0zsVUTvGCLfz-Do</string>
	<key>GCM_SENDER_ID</key>
	<string>32920338432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.fsgproject</string>
	<key>PROJECT_ID</key>
	<string>fsgapp-1bc75</string>
	<key>STORAGE_BUCKET</key>
	<string>fsgapp-1bc75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32920338432:ios:69edbc4d8321d476acd8e5</string>
</dict>
</plist>